<%- include ('layoutes/header.ejs') %>

    <div class="container">
        <div class="row m-5">
            <div class="col-md-3">
                <form class="my-2" action="/users" method="GET">
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control" type="search" name="buscar" placeholder="Search" aria-label="Search">
                        </div>
                        <div class="col-2">
                            <button class="btn btn-search btn-outline-success" type="submit">Search</button>
                        </div>
                    </div>
                    
                  </form>
            </div>
        </div>
        <div class="row m-5">
            <% for(var user=0; user<usuarios.length; user++) {%>
                <div class="col-md-2 mr-2 mb-3 users-box">
                    <div class="user-card">
                        <img class="avatar" src="/users/imagen/<%= usuarios[user].id %>" 
                                alt="Foto de perfil">
                        <div class="card-body containerImage">
                          <h6 class="card-title"><a href="/users/perfil/<%= usuarios[user].id %>"><%= usuarios[user].nombre %></a></h6>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
  
<%- include ('layoutes/footer.ejs') %>